################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SavableObject/bin
/SavableObject/obj
/.vs
/nuget.exe
